extends layout.pug

block seo
  meta(
    name='keywords'
    content='归档,anand的博客文章归档'
  )
  meta(
    name='description'
    content='把文章进行小分类，嘻嘻。'
  )

block title
  title 归档 - Anand's Blog

block css
  link(rel='stylesheet' href='/public/css/archive.css')

block content
  .category
    h2 目录
    ul.list
      each value in sortByCategory
        li
          a(href=`/archive/category/${value}`)= value
  .tag
    h2 标签
    ul.list
      each value in sortByTag
        li
          a(href=`/archive/tag/${value}`)= value
