doctype html
html(lang='zh-cmn-Hans')
  head
    meta(charset='UTF-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    )
    meta(
      http-equiv='X-UA-Compatible'
      content='ie=edge'
    )
    block metainfo
      meta(
        name='keywords'
        content='anand,anandzhang,个人博客,前端学习,anand的个人博客'
      )
      meta(
        name='description'
        content='Anand的个人博客主要记录个人生活和学习经验。一起折腾，一起学习。'
      )
    block title
      title Anand's Blog
    link(rel='shortcut icon' href='/public/img/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='/public/dist/common.bundle.css')
    block css
  body
    .mobile-bar
      .btn
        .line
      .mobile-title Anand's Blog
      -
        var routes = {
          '/': '主页',
          '/posts': '文章',
          '/archive': '归档',
          '/about': '关于我'
        }
      ul.mobile-nav
        each value,key in routes
          li
            a(href=key)= value
    .nav
      .container
        p.title Anand
          span.subtitle personal blog
        ul.nav-list
          each value,key in routes
            li
              a(href=key)= value
    div(class=`main ${mainClass}`)
      .content
        block content
        -
          var MIIT_URL = 'http://beian.miit.gov.cn/'
          var GOV_URL = 'http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51018102000120'
        div(style={position: 'absolute',bottom: 0})
          a(href=MIIT_URL) 蜀ICP备20003489号 |
          a(href=GOV_URL)
            img(src='/public/img/beian.png' alt='beian')
            span 川公网安备 51018102000120号
    script.
      var mobileBtn = document.querySelector('.mobile-bar .btn')
      mobileBtn.onclick = function () {
        this.classList.toggle('close')
      }
