doctype html
html(lang='zh-cmn-Hans')
  head
    meta(charset='UTF-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    )
    meta(
      http-equiv='X-UA-Compatible'
      content='ie=edge'
    )
    block seo
      meta(
        name='keywords'
        content='anand,anandzhang,个人博客,前端学习,anand的个人博客'
      )
      meta(
        name='description'
        content='Anand的个人博客主要记录个人生活和学习经验。一起折腾，一起学习。'
      )
    block title
      title Anand's Blog
    link(rel='shortcut icon' href='/public/img/favicon.ico' type='image/x-icon')
    link(rel="stylesheet" href='/public/dist/fonts.bundle.css' media="print" onload="this.media='all'")
    link(rel='stylesheet' href='/public/dist/common.bundle.css')
    block css
  body
    -
      var routes = {
        '/': '主页',
        '/posts': '文章',
        '/archive': '归档',
        '/about': '关于我'
      }
    header(class='header container')
      p.logo Anand's Blog
      nav.nav-list
        ul
          each value, key in routes
            li(class= key===route? 'active' : '')
              a(href=key)= value
      .mobile-btn
        .line
    main.main
      .container
        .content
          block content
    footer#footer(class='footer container fixed-bottom off-doc-center')
      p &copy; 2020 Anand's Blog
      p.footer-break-up |
      a(href='http://beian.miit.gov.cn/') 蜀ICP备20003489号
      p.footer-break-up |
      a(href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51018102000120")
        img.img-vertical-bottom(src='/public/img/beian.png' alt='beian')
        span 川公网安备 51018102000120号
    script(src='/public/dist/fix-footer.bundle.js')
