extends layout.pug

block seo
  block metainfo
  meta(
    name='keywords'
    content='文章,前端学习,anand的博客文章'
  )
  meta(
    name='description'
    content='Anand写一写文章，一起学习。'
  )

block title
  if category
    title #{category} 目录 - 归档 - Anand's Blog
  else if tag
    title #{tag} 标签 - 归档 - Anand's Blog
  else
    title 文章 - Anand's Blog

block css
  link(rel='stylesheet' href='/public/dist/posts.bundle.css')

block content
  ol.posts-list
    each value in pageData
      li
        h2
          a(href=value.requestPath)= value.title
        p.time
          if value.createTime != value.updateTime
            | 更新于 &nbsp;
          | #{value.updateTime}
        p #{value.summary}
  .pagination
    if current > 1
      a(class='btn' href=previousUrl) &larr; 最近
    span.page-number
      span.current= current
      span /
      span= pagesTotal
    if current != pagesTotal
      a(class='btn' href=nextUrl) 更早 &rarr;