extends layout.pug

block metainfo
  meta(
    name='keywords'
    content='文章,前端学习,anand的博客文章'
  )
  meta(
    name='description'
    content='Anand写一写文章，一起学习。'
  )

block title
  if category
    title #{category} 目录 - 归档 - Anand's Blog
  else if tag
    title #{tag} 标签 - 归档 - Anand's Blog
  else
    title 文章 - Anand's Blog

block content
  unless (category || tag)
    h1(style={'font-size': 0}) 文章 - Anand's Blog
  ul.posts-list
    each value in docs
      li
        h2
          a(href=value.requestPath)= value.title
        p.time
          if value.createTime != value.updateTime
            | 更新于 &nbsp;
          | #{value.updateTime}
        p #{value.summary}
  .pagination
    if current > 1
      a(href=`/posts?page=${current - 1}`) &larr; 最近
    span #{current} / #{total}
    if current != total
      a(href=`/posts?page=${current + 1}`) 更早 &rarr;
