extends layout.pug

block metainfo
  meta(
    name='keywords'
    content= keywords
  )
  meta(
    name='description'
    content= description
  )

block title
  title #{title} - Anand's Blog

block css
  link(rel='stylesheet' href='/public/dist/markdown.bundle.css')

block content
  #markdown!= content